    
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Fuzzy+Bubbles:wght@700&family=Roboto&family=Yanone+Kaffeesatz&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(175, 174, 174);
    color: rgb(106, 203, 248);
}

nav {
    background-color: white;
    height: 80px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 10px 10px 20px white;
}
/*
img {
    width: 50px;
}*/

nav>ul {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

nav>ul>li {
    list-style: none;
    padding: 5px 10px;
    /*border-bottom: 5px solid transparent;*/
}

nav>ul>li>a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}

li:hover {
    border-bottom: 5px solid #FFAFAF;
    cursor: pointer;
    transition: all .1s linear;
}

li:hover i{
    color: #FFAFAF;
}

img {
    width: 50px;
}

section{
    width: 500px;
    height: 300px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 21px;
    background-image: url("https://picsum.photos/200");
    background-repeat: no-repeat;
    background-size: cover;
}



